<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}My Django App for Hitachi HighTech Solutions{% endblock %}</title>
</head>
<body>
    <header>
        <!-- Add any common header content here -->
    </header>

    <main>
        {% block content %}
        {% endblock %}
    </main>

    <footer>
        <!-- Add any common footer content here -->
    </footer>
</body>
</html>